{% extends "layout.html" %}

{% block body %}
<h1>{{ board.title }}</h1>
<table>
	{# XXX: micro-optimization #}
	{% set states = board.states %}
	{% set layout = board.materialized_layout %}

	<thead>
		<tr>
			<th></th>
			{% for state in states %}
			<th>{{ state }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for lane in board.lanes %}
		<tr>
			<th>{{ lane }}</th>

			{% set lane_entries = layout[lane] %} {# XXX: micro-optimization #}
			{% for state in states %}
			<td>
				<ul class="tasks">
					{% for task in lane_entries[state] %}
					<li>
						<a href="{{ url_for("task", task_id=task.id,
								board_title=task.board_title) }}">
							{{ task.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ url_for("edit_board", board_title=board.title) }}">edit</a>
{% endblock %}
