{% extends "layout.html" %}

{% block body %}
<h1>{{ board.title }}</h1>
<table>
	{# XXX: micro-optimization #}
	{% set states = board.states %}
	{% set layout = board.materialized_layout %}

	<thead>
		<tr>
			<th></th>
			{% for state in states %}
			<th>{{ state }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for lane in board.lanes %}
		<tr>
			<th>{{ lane }}</th>

			{% set lane_entries = layout[lane] %} {# XXX: micro-optimization #}
			{% for state in states %}
			<td>
				<ul>
					{% for task in lane_entries[state] %}
					<li>{{ task }}</li>
					{% endfor %}
				</ul>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
