{% extends "layout.html" %}

{% block body %}
<h1>{{ board.title }}</h1>
<table>
	<thead>
		<tr>
			<th></th>
			{% for state in board.states %}
			<th>{{ state }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for lane in board.lanes %}
		<tr>
			<td>{{ lane }}</td>
			{% for state in board.states %}
			<td></td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	{% for task in board.tasks %}
	<li>
		<h3>{{ task.title }}</h3>
		<p>{{ task.desc }}</p>
	</li>
	{% endfor %}
</ul>
{% endblock %}
