<form action="{{ url_for("board", board_title=board.title) }}" method="post">
	<fieldset>
		<legend>Lanes</legend>
		<ol class="lanes">
			{% for lane in board.lanes %}
			<li>
				<input type="text" name="lane" value="{{ lane }}">
				<button type="submit" name="rm-lane" value="{{ lane }}">remove</button>
			</li>
			{% endfor %}
		</ol>
		<button type="submit" name="add-lane">add</button>
	</fieldset>

	<fieldset>
		<legend>States</legend>
		<ol class="states">
			{% for state in board.states %}
			<li>
				<input type="text" name="state" value="{{ state }}">
				<button type="submit" name="rm-state" value="{{ state }}">remove</button>
			</li>
			{% endfor %}
		</ol>
			<button type="submit" name="add-state">add</button>
	</fieldset>

	<button type="submit">save changes</button>
</form>
