{% extends "layout.html" %}

{% block body %}
<form action="{{ url_for("boards") }}" method="post">
	<fieldset>
		<legend>create board</legend>

		<label>
			board name:
			<input type="text" name="board-title">
		</label>

		<button type="submit">create</button>
	</fieldset>
</form>

<h1>Boards Overview</h1>
{% if boards %}
<ul class="boards">
	{% for board in boards %}
	<li>
		<a href="{{ url_for("board", board_title=board.title) }}">
			{{ board.title }}
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>no boards exist yet</p>
{% endif %}
{% endblock %}
